<section class="about-me" id="about">
  <div class="container">
    <div class="top-container">
      <h2 class="about-me-title">About me</h2>
      <div class="flex-container">
        <div class="about-me-bg-text">
          <p class="about-me-text">
            Transforming ideas into
            <span class="about-me-red">full-stack solutions</span>
            with a focus on speed and clean code. I work worldwide to deliver
            <span class="about-me-grey">unique digital experiences</span>
            that balance tech excellence with your vision.
          </p>
        </div>

        <img
          class="about-me-foto"
          src="images/about-pic.webp"
          alt="My profile photo"
        />
      </div>
    </div>
  </div>
</section>
