<footer class="footer" id="footer">
  <div class="bg">
    <div class="container">
      <div class="footer-title-wrapper">
        <h2 class="footer-title">
          Let's <span class="footer-accent"> work </span>
          <span class="footer-title-part"> together </span>
        </h2>
      </div>
      <div class="footer-form-wrapper">
        <form class="footer-form">
          <input
            class="footer-form-input email"
            type="email"
            name="email"
            placeholder="your email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            autocomplete="off"
            required
          />

          <input
            class="footer-form-input comment"
            type="text"
            name="comments"
            placeholder="text your message"
            maxlength="35"
            autocomplete="off"
            required
          />

          <button class="footer-form-btn" type="submit">Send</button>
        </form>
      </div>
      <address class="contacts">
        <!-- <ul class="footer-contacts">
          <li class="footer-contacts-link"> -->
        <a
          class="footer-link-email"
          href="mailto:conneciones@gmail.com"
          target="_blank"
          >conneciones@gmail.com</a
        >
        <!-- </li>
          <li class="footer-contacts-link">
            <a class="footer-link-tel" href="tel:+380680086066" target="_blank"
              >+380 68 008 60 66
            </a>
          </li>
        </ul> -->
      </address>
      <!-- Modal -->
      <div class="footer-backdrop">
        <div class="footer-modal">
          <button class="footer-modal-close-btn" type="button">
            <svg class="footer-modal-close-svg" width="22" height="22">
              <use href="/images/icons.svg#icon-close"></use>
            </svg>
          </button>

          <h3 class="footer-modal-head-text">
            Thank you for your interest in cooperation!
          </h3>

          <p class="footer-modal-text">
            Thank you for your message. It has been received and forwarded for
            review. I will contact you as soon as possible.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
