<header class="header container">
  <nav>
    <ul>
      <li><a href="/dmytro-serhiienko-portfolio/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#footer">Contact</a></li>
      <li>
        <a href="Dmytro_Serhiienko_FullStack.pdf" download>Resume</a>
      </li>
    </ul>
  </nav>

  <div class="heroContainer">
    <h1 class="heroTitle">
      Hello.<br />
      I'm Fullstack developer Dmytro Serhiienko.
    </h1>
    <ul class="heroSocial">
      <li class="heroSocialItem">
        <a
          class="heroSocialLink linkedin-remixicon"
          href="https://www.linkedin.com/in/dmytro-serhienko"
          target="_blank"
        >
          <i class="ri-linkedin-fill"></i
        ></a>
      </li>
      <li class="heroSocialItem">
        <a
          class="heroSocialLink git-remixicon"
          href="https://github.com/dmytro-serhiienko"
          target="_blank"
          ><i class="ri-github-line"></i
        ></a>
      </li>
      <li class="heroSocialItem">
        <a class="heroSocialLink" href="mailto:conneciones@gmail.com"
          >conneciones@gmail.com</a
        >
      </li>
    </ul>
  </div>
</header>
