<section class="projects-section">
  <div class="projects-track">
    <div class="project-card">
      <div class="project-media">
        <img src="project1.jpg" alt="Fried Chicken" class="project-img" />
      </div>
      <div class="project-overlay">
        <h3>Fried Chicken</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/fried-chicken-website/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/fried-chicken-website"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-media">
        <img src="project2.jpg" alt="Watch Website" class="project-img" />
      </div>
      <div class="project-overlay">
        <h3>Watch Website</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/watch-website/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/watch-website"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-media">
        <img src="project3.jpg" alt="EcoTote" class="project-img" />
      </div>
      <div class="project-overlay">
        <h3>EcoTote</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/project-EcoTote/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/project-EcoTote"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-media">
        <img src="project4.jpg" alt="CrypAppy" class="project-img" />
      </div>
      <div class="project-overlay">
        <h3>CrypAppy</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/cryp-appy-site/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/cryp-appy-site"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-media">
        <img src="project5.jpg" alt="Doctor Care" class="project-img" />
      </div>
      <div class="project-overlay">
        <h3>Doctor Care</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/doctor-care-site/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/doctor-care-site"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="projects-section" id="projects">
  <ul class="projects-list">
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/fried-chicken-website/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/chicken-projects.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/watch-website/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/watch-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/project-EcoTote/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/EcoTote-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/cryp-appy-site/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/cryp-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/doctor-care-site/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/med-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/js-calculator-program/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/calc-project.webp" alt="" />
      </a>
    </li>
  </ul>
</section> -->
