<section class="projects-section" id="projects">
  <ul class="projects-list">
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/fried-chicken-website/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/chicken-projects.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/watch-website/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/watch-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/project-EcoTote/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/EcoTote-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/cryp-appy-site/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/cryp-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/doctor-care-site/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/med-project.webp" alt="" />
      </a>
    </li>
    <li class="projects-item">
      <a
        href="https://dmytro-serhiienko.github.io/js-calculator-program/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="project-img" src="../images/calc-project.webp" alt="" />
      </a>
    </li>
  </ul>
</section>
