<section class="projects-section">
  <div class="projects-grid">
    <!-- * 1 -->
    <div class="project-card">
      <div class="project-media">
        <img
          src="/images/pawel-czerwinski-IXgSpDrxsgM-unsplash_r3_c3_processed_by_imagy.jpg"
          alt="Fried Chicken"
          class="project-img"
        />
      </div>
      <div class="project-overlay">
        <h3>Fried Chicken</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/fried-chicken-website/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/fried-chicken-website"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>

    <!-- * 2 -->
    <div class="project-card">
      <div class="project-media">
        <img
          src="/images/pawel-czerwinski-IXgSpDrxsgM-unsplash_r3_c4_processed_by_imagy.jpg"
          alt="Artists HUB Project"
          class="project-img"
        />
      </div>
      <div class="project-overlay">
        <h3>Artists HUB Project</h3>
        <div class="project-buttons">
          <a
            href="https://bashmachok1982.github.io/artistsHUB-team-project/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/team-project-JS"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>

    <!-- * 3 -->

    <div class="project-card">
      <div class="project-media">
        <img
          src="/images/pawel-czerwinski-IXgSpDrxsgM-unsplash_r4_c2_processed_by_imagy.jpg"
          alt="Diam Yacht Project"
          class="project-img"
        />
      </div>
      <div class="project-overlay">
        <h3>Diam Yacht Project</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/diam-yacht-site/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/diam-yacht-site"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>

    <!-- * 4 -->
    <div class="project-card">
      <div class="project-media">
        <img
          src="/images/pawel-czerwinski-IXgSpDrxsgM-unsplash_r4_c3_processed_by_imagy.jpg"
          alt="Product Project"
          class="project-img"
        />
      </div>
      <div class="project-overlay">
        <h3>Product Project</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/product-site/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/product-site"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>

    <!-- * 5 -->
    <div class="project-card">
      <div class="project-media">
        <img
          src="/images/pawel-czerwinski-IXgSpDrxsgM-unsplash_r4_c2_processed_by_imagy.jpg"
          alt="Eco Project"
          class="project-img"
        />
      </div>
      <div class="project-overlay">
        <h3>Eco Project</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/project-EcoTote/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/project-EcoTote"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>

    <!-- * 6 -->
    <div class="project-card">
      <div class="project-media">
        <img
          src="/images/pawel-czerwinski-IXgSpDrxsgM-unsplash_r4_c4_processed_by_imagy.jpg"
          alt="Doctor Project"
          class="project-img"
        />
      </div>
      <div class="project-overlay">
        <h3>Doctor Project</h3>
        <div class="project-buttons">
          <a
            href="https://dmytro-serhiienko.github.io/doctor-care-site/"
            target="_blank"
            class="btn-live"
            >Live</a
          >
          <a
            href="https://github.com/dmytro-serhiienko/doctor-care-site"
            target="_blank"
            class="btn-github"
            >GitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
