html {
  interpolate-size: allow-keywords;
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 30px;
}

.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("../images/pawel-czerwinski-5fx4r4qcdXA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* 2. Навігація  */
nav {
  width: fit-content;
  margin: 3rem auto;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  z-index: 10;

  @supports (corner-shape: squircle) {
    border-radius: 24px;
    border-shape: squircle;
  }

  ul:has(:not(:hover)) {
    anchor-name: --test;
  }

  &::before {
    content: "";
    z-index: -2;
    background-image: url("../images/pawel-czerwinski-5fx4r4qcdXA-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  &::after {
    content: "";
    backdrop-filter: blur(2px);
    background-color: hsl(200 100% 100% / 0.1);
    z-index: -1;
  }

  & > ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    &::after {
      content: "";
      position: absolute;
      z-index: -3;
      inset: -8px;
      border-radius: 8px;
      background: hsl(0 0% 0% / 0.8);
      backdrop-filter: blur(2px);

      @supports (corner-shape: squircle) {
        border-radius: 24px;
        border-shape: squircle;
      }
    }
  }

  &::before,
  &::after {
    border-radius: 8px;
    position-anchor: --test;
    position: absolute;

    top: calc(anchor(bottom) - 4px);
    left: calc(anchor(left) + 1rem);
    right: calc(anchor(right) + 1rem);
    bottom: anchor(bottom);

    transition: 500ms;
    transition-timing-function: linear(
      0,
      0.008 1.1%,
      0.031 2.2%,
      0.129 4.8%,
      0.257 7.2%,
      0.671 14.2%,
      0.789 16.5%,
      0.881 18.6%,
      0.957 20.7%,
      1.019 22.9%,
      1.063 25.1%,
      1.094 27.4%,
      1.114 30.7%,
      1.112 34.5%,
      1.018 49.9%,
      0.99 59.1%,
      1
    );
  }

  &:has(a:hover)::before,
  &:has(a:hover)::after {
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);

    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 50%;
    }
  }

  &:has(li:first-of-type a:hover)::before,
  &:has(li:first-of-type a:hover)::after {
    @supports (corner-shape: squircle) {
      border-radius: 32px 50% 50% 32px;
    }
  }

  &:has(li:last-of-type a:hover)::before,
  &:has(li:last-of-type a:hover)::after {
    @supports (corner-shape: squircle) {
      border-radius: 50% 32px 32px 50%;
    }
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 5;

    &:hover {
      anchor-name: --test;
    }
  }
}

/*  Hero in header*/
.heroContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 375px;
  margin: 0 auto;

  padding-top: 2rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.heroTitle {
  width: 100%;
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10vh;
}

.heroSocial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: auto;
}

.heroSocialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  width: 37px;
  height: 37px;
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.heroSocialItem:last-child {
  width: 178px;
}

.heroSocialItem:hover {
  background-color: #fff;
}

.heroSocialLink {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.heroSocialItem:hover .heroSocialLink {
  color: #000;
}

.ri-github-line,
.ri-linkedin-fill {
  font-size: 25px;
}

/* Медіа-запити */
@media (min-width: 768px) {
  .heroContainer {
    max-width: 768px;
  }
  .heroTitle {
    font-size: 90px;
  }
  .heroSocial {
    justify-content: flex-end;
  }
  .heroSocialItem {
    width: 55px;
    height: 55px;
  }
  .heroSocialItem:last-child {
    width: 223px;
  }
}

@media (min-width: 1440px) {
  .heroContainer {
    max-width: 1440px;
  }
  .heroTitle {
    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Адаптація для планшетів та мобільних */
@media (max-width: 768px) {
  body {
    /* 1rem = 16px */
    font-size: 16px;
  }

  nav {
    /* 2rem = 32px */
    margin: 32px auto;
    padding: 4px;
    width: 90%;
    max-width: fit-content;
  }

  nav a {
    padding: 11px 13px;
    font-size: 22px;
  }

  nav::before,
  nav::after {
    left: calc(anchor(left) + 8px);
    right: calc(anchor(right) + 8px);
  }

  .heroTitle {
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
  }

  .heroContainer {
    max-width: 90%;
    padding-bottom: 32px;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    padding: 8px 10px;
    font-size: 22px;
  }

  .header,
  nav::before {
    background-attachment: scroll;
  }
}
