@import url("/css/header.css");
@import url("/css/about-me.css");
@import url("/css/projects.css");
@import url("/css/footer.css");

:root {
  --background: #0f171e;
  --background-alt: #0f171e;
  --background-hero: #0f171e;
  --accent: #ed3b44;
  --accent-hover: #e0373f;
  --primary: #fafafa;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "Inter Tight", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

img {
  display: block;
}

svg {
  color: var(--primary);
  fill: var(--primary);
  stroke: var(--primary);
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Variable.ttf);
}
